{% extends "base.html.twig" %}

{% block title %} Category: {% endblock %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}
{% block body %}
<h4>Categories</h4>
    <div id="Categories" class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in producten %}
        <a href="/product/{{ product.id }}">
            <div class="col">
                <div class="card">
                <img src="{{ asset(product.picture) }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}